body {
  margin: 0;
  padding: 2% 2% 30%;
  background: #eee;
  color: #222;
  font-family: Helvetica, Verdana, sans-serif;
}

header {
  text-align: center;
  margin: 6em 0;
}

header h1 {
  font-size: 2.3em;
  margin: 0.25em 0;
}

header .separator {
  margin: 0 1em;
}

ul {
  list-style: none;
  margin: 0 20%;
}

ul li {
  border-bottom: 1px dashed #ccc;
  padding: 0.5em 0;
}

ul li a {
  transition: all 0.2s;
}

ul li a.primary-link {
  font-size: 1.5em;
  font-weight: bold;
  color: #222;
  text-decoration: none;
}

ul li a.primary-link:hover {
  color: #4CCA9D;
}


ul li a.code-link {
  background: #fff;
  padding: 0.3em 0.5em 0.2em;
  text-transform: uppercase;
  color: #222;
  text-decoration: none;
  border-radius: 0.2em;
  float: right;
}

ul li a.code-link:hover {
  background-color: #4CCA9D;
}
